.bg-scrolling {
  width: 150%;
  height: 150%;
  margin-top: -20px;
  margin-left: -20px;
  position: fixed;
  background-color: #eee;
  background-size: 60px 60px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  background-repeat: repeat;
  animation-name: bg-scroll;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-error {
  width: 250%;
  height: 250%;
  margin-top: -20px;
  margin-left: -20px;
  position: fixed;
  background-color: #eee;
  background-size: 30px 30px;
  background-image: url("404error.png");
  background-repeat: repeat;
  animation-name: bg-scroll;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-circle {
    margin-top: -12.5%;
    margin-left: -12.5%;
    height: 135%;
    aspect-ratio: 1 / 1;
    border: 5px solid black;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
}

.bg-halftone {
  --stop1: 0.06rem;
  --stop2: 0.65rem;
  --dotSize: 0.25rem;
  --bgSize: 1.35rem;
  --bgPosition: calc(var(--bgSize) / 2);
  
}
.bg-halftone::after {
  content: '';
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  
  background-image: radial-gradient(circle at center,
      #409078 var(--dotSize),
      transparent 0);
  background-size: 1.3rem 1.3rem;
  mask-image: radial-gradient(ellipse at bottom right, rgb(0 0 0), rgb(255 255 255 / 0) 50%, rgb(255 255 255 / 0) );
}



@keyframes bg-scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-240px, -240px, 0);
  }
}




html, span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px
}




.content {
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.container {
  filter: drop-shadow(10px 10px #00000046)
  drop-shadow(1px -1px 0rem black) 
  drop-shadow(-1px -1px 0rem black) 
  drop-shadow(1px 1px 0rem black) 
  drop-shadow(-1px 1px 0rem black)
  drop-shadow(1rem 1rem 10px  #c0ffe8a0);
}
.container-404 {
  filter: drop-shadow(10px 10px #00000046) drop-shadow(1px -1px 0rem black) drop-shadow(-1px -1px 0rem black) drop-shadow(1px 1px 0rem black) drop-shadow(-1px 1px 0rem black) drop-shadow(1rem 1rem 10px #ff2222a0);
}
.container-coding-sillygame{
  filter: drop-shadow(10px 10px #00000046) drop-shadow(1px -1px 0rem black) drop-shadow(-1px -1px 0rem black) drop-shadow(1px 1px 0rem black) drop-shadow(-1px 1px 0rem black) drop-shadow(1rem 1rem 10px #c0ffe8a0);
}

.container-title {
  filter: drop-shadow(10px 10px #00000046) drop-shadow(1px -1px 0rem black) drop-shadow(-1px -1px 0rem black) drop-shadow(1px 1px 0rem black) drop-shadow(-1px 1px 0rem black) drop-shadow(1rem 1rem 10px #c0ffe8a0);
}

.container-sillygame {
  filter: drop-shadow(10px 10px #00000046) drop-shadow(1px -1px 0rem black) drop-shadow(-1px -1px 0rem black) drop-shadow(1px 1px 0rem black) drop-shadow(-1px 1px 0rem black) drop-shadow(1rem 1rem 10px #c0ffe8a0);
}
.container-experience {
  filter: drop-shadow(10px 10px #00000046) drop-shadow(1px -1px 0rem black) drop-shadow(-1px -1px 0rem black) drop-shadow(1px 1px 0rem black) drop-shadow(-1px 1px 0rem black) drop-shadow(1rem 1rem 10px #c0ffe8a0);
}
.container-contactme {
  filter: drop-shadow(10px 10px #00000046) drop-shadow(1px -1px 0rem black) drop-shadow(-1px -1px 0rem black) drop-shadow(1px 1px 0rem black) drop-shadow(-1px 1px 0rem black) drop-shadow(1rem 1rem 10px #c0ffe8a0);
}





.fake-window-fit-title{
  border: 1px solid #eee;
  border-radius: 1px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: auto;
  
  background-color: #eee;
  

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    width: 100%;
    span {
      margin-left: -35px;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: white;
      width: 80%;
      height: fit-content;
      border: 1px;
      
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
        transform: scale(0.13, 0.13);
      }
      }
      
        .fold {
          width: 30px;
          height: 20px;
          margin-right: -10%;
          margin-top: 0px;
          box-shadow: 0px 3px 0 0 #00000034;
          background-color: #bbbbbb;
        }
      
    }
  }

  .fake-window-body {
    background-image: url('view-above-the-clouds_800.jpg');
    padding: 10px;
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      text-align: centre;
      font-size: 40px;
    }
  }




.fake-window-fit-sillygame{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: auto;
  width: 30%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  background-color: #eee;
  
  background-image: url('view-above-the-clouds_800.jpg');

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    span {
      margin-left: -35px;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: white;
      width: 80%;
      height: auto;
      border: 1px
      
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
      transform: scale(0.13, 0.13)
      }
    }
        .fold {
              width: 30px;
              height: 20px;
              margin-right: -10%;
              margin-top: 0px;
              box-shadow: 0px 3px 0 0 #00000034;
              background-color: #bbbbbb;
            }
      
    }
  }

  .fake-window-body {
    padding: 10px;


  }

.fake-window-fit-contactme{
  margin-top: 0px;
  margin-left: 30%;
  margin-right: auto;
  width: fit-content;
  height: 20%;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  background-color: #eee;
  background-image: url('view-above-the-clouds_800.jpg');

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    span {
      margin-left: -35px;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: white;
      width: 80%;
      height: auto;
      border: 1px
      
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
      transform: scale(0.13, 0.13)
      }
      }
      
            .fold {
              width: 30px;
              height: 20px;
              margin-right: -10%;
              margin-top: -7px;
              box-shadow: 0px 3px 0 0 #00000034;
              background-color: #bbbbbb;
            }
    }
  }

  .fake-window-body {
    padding: 10px;


  }

  .fake-window-fit-404{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #eee;
    background-image: url('view-above-the-clouds_800.jpg');
  
    .fake-window-header {
      height: 20px;
      display: flex;
      align-items: center;
      background-color: #ddd;
      span {
        margin-left: -35px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-color: white;
        width: 80%;
        height: auto;
        border: 1px
        
      }
  
  
      .close-btn {
        button {
          width: 100px;
          height: 100px;
          margin-left: -40px;
          margin-top: 3px;
          background-image: url('close.png');
          border: 0px;
        transform: scale(0.13, 0.13)
        }
        }
        
                .fold {
                  width: 30px;
                  height: 20px;
                  margin-right: -10%;
                  margin-top: 0px;
                  box-shadow: 0px 3px 0 0 #00000034;
                  background-color: #bbbbbb;
                }
        
      }
    }
  
    .fake-window-body {
      padding: 10px;
      
      span {
        height: fit-content;
        
        h1 {
            font-size: 100px;
            text-align: center;
            margin-top: -10px;
          }
        p {
          margin-top: -80px;
          text-align: center;
        }
      }
  
    }




.fake-window-fit-coding-sillygame {
  margin-top: 60px;
  margin-left: auto;
  margin-right: 12.5%;
  width: fit-content;
  height: 50%;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  background-color: #eee;
  background-image: url('view-above-the-clouds_800.jpg');

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;

    span {
      margin-left: -35px;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: white;
      width: 80%;
      height: auto;
      border: 1px
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
        transform: scale(0.13, 0.13)
      }
    }
        .fold {
          width: 15%;
          height: 20px;
          margin-right: -5%;
          margin-top: -5px;
          box-shadow: 0px 3px 0 0 #00000034;
          background-color: #bbbbbb;
        }


  }
}

.fake-window-body {
  padding: 10px;


}

.fake-window-fit-experience {
  margin-top: -60px;
  margin-left: auto;
  margin-right: 80px;
  width: fit-content;
  height: 20%;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
  background-color: #eee;
  background-image: url('view-above-the-clouds_800.jpg');

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;

    span {
      margin-left: -35px;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: white;
      width: 80%;
      height: auto;
      border: 1px
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
        transform: scale(0.13, 0.13)
      }
    }

    .fold {
      width: 15%;
      height: 20px;
      margin-right: -5%;
      margin-top: -5px;
      box-shadow: 0px 3px 0 0 #00000034;
      background-color: #bbbbbb;
    }


  }
}

.fake-window-body {
  padding: 10px;


}