.bg-scrolling {
  width: 150%;
  height: 150%;
  margin-top: -20px;
  margin-left: -20px;
  position: fixed;
  background-color: #eee;
  background-size: 60px 60px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  background-repeat: repeat;
  
  animation-name: bg-scroll;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-circle {
    margin-top: 12.5%;
    margin-left: 12.5%;
    height: 75%;
    width: 75%;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
}

.bg-cross{
    position: relative;
    width: 300px;
    height: 300px;
}

.bg-cross:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    bottom: 1px;
    border-width: 149px;
    border-style: solid;
    border-color: black white;
}

.bg-cross:after {
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    top: 0;
    bottom: 0;
    border-width: 149px;
    border-style: solid;
    border-color: white transparent;
}



@keyframes bg-scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-200px, 0, 0);
  }
  50% {
    transform: translate3d(-200px, -200px, 0);
  }
  75% {
    transform: translate3d(0, -200px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    /* The image width */
  }
}




span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px
}




.content {
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.fake-window-fit-title{
  font-size: 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px;
  background-color: #eee;
  background-image: url('view-above-the-clouds_800.jpg');

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    span {
      margin-left: -35px;
      background-color: white;
      width: 80%;
      height: auto;
      border: 1px
      
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
      transform: scale(0.13, 0.13)
      }
      }
      
      
    }
  }

  .fake-window-body {
    padding: 10px;
    h1 {
      font-family: Unbounded;
      text-align: centre;
    }

  }

.fake-window-fit-sillygame{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: auto;
  width: 30%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px;
  background-color: #eee;
  background-image: url('view-above-the-clouds_800.jpg');

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    span {
      margin-left: -35px;
      background-color: white;
      width: 80%;
      height: auto;
      border: 1px
      
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
      transform: scale(0.13, 0.13)
      }
      }
      
      
    }
  }

  .fake-window-body {
    padding: 10px;


  }

.fake-window-fit-contactme{
  margin-top: 0px;
  margin-left: 30%;
  margin-right: auto;
  width: fit-content;
  height: 20%;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px;
  background-color: #eee;
  background-image: url('view-above-the-clouds_800.jpg');

  .fake-window-header {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    span {
      margin-left: -35px;
      background-color: white;
      width: 80%;
      height: auto;
      border: 1px
      
    }


    .close-btn {
      button {
        width: 100px;
        height: 100px;
        margin-left: -40px;
        margin-top: 3px;
        background-image: url('close.png');
        border: 0px;
      transform: scale(0.13, 0.13)
      }
      }
      
      
    }
  }

  .fake-window-body {
    padding: 10px;


  }

  .fake-window-fit-experience{
    margin-top: -60px;
    margin-left: auto;
    margin-right: 80px;
    width: fit-content ;
    height: 20%;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px;
    background-color: #eee;
    background-image: url('view-above-the-clouds_800.jpg');
  
    .fake-window-header {
      height: 20px;
      display: flex;
      align-items: center;
      background-color: #ddd;
      span {
        margin-left: -35px;
        background-color: white;
        width: 80%;
        height: auto;
        border: 1px
        
      }
  
  
      .close-btn {
        button {
          width: 100px;
          height: 100px;
          margin-left: -40px;
          margin-top: 3px;
          background-image: url('close.png');
          border: 0px;
        transform: scale(0.13, 0.13)
        }
        }
        
        
      }
    }
  
    .fake-window-body {
      padding: 10px;
  
  
    }
