h1 {
  font-family: Unbounded;
  src: ;
}

// <uniquifier>: Use a unique and descriptive class name

.unbounded-<uniquifier> {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
